*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
  .tcabeça{
    background-color: #fff;
    position: fixed;
    display: flex;
    flex-direction: row;
  }
  .logo{
    height: 50px;
    width: 60px;
    display: flex;
    flex-direction: row;
  }
  ul{
    display: flex;
    flex-direction: row;
    list-style: none;
  }
  input{
    border-radius: 20%;
  }